# Ignore system & personal files
.DS_Store
Thumbs.db
Application Data/
Local Settings/
My Documents/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
*.log
*.exe
*.dat

# Ignore Python virtual environments
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Ignore Database
db.sqlite3

# Ignore IDE and OS-specific files
.vscode/
.idea/
node_modules/
 Test Webhook Trigger
